development:
  adapter: postgresql
  encoding: unicode
  database: hoboview_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: hoboview_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: hoboview_production
  pool: 5
