production:
  FACEBOOK_APPID: 
  FACEBOOK_SECRET: 
  GOOGLE_CLIENT_ID: 
  GOOGLE_CLIENT_SECRET: 

development:
  FACEBOOK_APPID: 
  FACEBOOK_SECRET: 
  GOOGLE_CLIENT_ID: 
  GOOGLE_CLIENT_SECRET: 

test:
  FACEBOOK_APPID: 
  FACEBOOK_SECRET: 
  GOOGLE_CLIENT_ID: 
  GOOGLE_CLIENT_SECRET: 
